{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block body %}
<div class='container text-left mt-5' >
<h1>About</h1>
<br>
<h3>
<p>
    This website was inspired by the hiring freeze tracker during the pandemic. As we approach the end of the pandemic and most leisure travels are back, the idea of going back to the office has become more prominent. It presents an unique challenge to have the ability to track which company allows flexible work arrangement and to what degree does each firm allow. This app aims to solve this issue by creating an interactive database based on user inputs.

</p>
</h3>
<br>
</div>
{% endblock %}