<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></link> -->

    <!-- CSS -->
    <!-- <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <!-- <link href="carousel.css" rel="stylesheet"> -->
    <link href="/static/css/main.css" rel="stylesheet">


    <title>
      {% block title %}{% endblock %}
    </title> 

    <header class="masthead mb-auto navbar-dark bg-dark sticky-top">
      <div class="inner">
        <!-- <a class=" masthead-brand" href='/'>ICON GOES HERE</a> -->

        <nav class="bg-dark nav nav-masthead justify-content-center fixed-top ">
          <!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"></nav> -->
          <a class="navbar-brand" href="/">H2O</a>
          <!-- <a class="nav-link" href="/">Homepage </a> -->
          <a class="nav-link" href="/about">About this Project</a>
          <a class="nav-link" href="/creator">About the Creator</a>
          <a class="nav-link" href="/form">Contribute</a>
          <a class="nav-link" href="/officesmap">Map View</a>
          <a class="nav-link" href="/officeslist">List View</a>
          {% if session.get('username') %}
            <a class="nav-link" href="/logout">Logout</a>
            {% else %}
            <a class="nav-link" href="/Signup">Register</a>
            <a class="nav-link" href="/login">Login</a>
          {% endif %}
        </nav>
      </div>
    </header>

    {% block head %}{% endblock %}
  </head>
  <body class='bg-dark'>
    {% for msg in get_flashed_messages() %}
      <div class="flash-msg container" style="color:lightblue;">
        {{ msg }}
      </div>
      <div class='container'>
        {% endfor %}

        {% block body %}{% endblock %}

        {% block after_body %}{% endblock %}
      </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">500x500</text></svg>

    <footer class='mastfoot mt-auto '>
      <nav class="bg-dark nav nav-masthead justify-content-center fixed-bottom container">
        <p class="inner cover col-lg-4 float-right"><a href="/officeslist">Back to List Display</a></p>
        <p class="inner cover col-lg-4 float-right"><a href="/officesmap">Back to Map Display</a></p>
        <p class="inner cover col-lg-4 float-right"><a href="/">Back to Home</a></p>
        <p class='text-center'>By Kerrie Wong © 2021</p>
      </nav>
      </footer>
  </body>
</html>
