{% extends 'base.html' %}
{% block title %}Creator{% endblock %}

{% block body %}
<div class="container">
<h1>Kerrie Wong</h1>
<p>
    <div class="row featurette">
    <div class="col-md-3">
        <img class="featurette-image img-fluid mx-auto" src="/static/KW.jpg" style="auto" 
        data-holder-rendered="true">
    </div>
    <div class="col-md-9">
        <span>
        <h4>LinkedIn <a href= "https://www.linkedin.com/in/kerriewong">https://www.linkedin.com/in/kerriewong/</a></h4>
        <h4>GitHub <a href= "https://github.com/KbearW">https://github.com/KbearW</a></h4>
        <h4>Email <a href= "Wongkerrie@gmail.com">Wongkerrie@gmail.com</a></h4>
        </span>
    </div>
    </div>
</p>
</div>


        <!-- <div class="col-md-7">
          <h2 class="featurette-heading">Are we back to normal yet?</h2>
          <blockquote class="blockquote">
            <p class="mb-0 white-text"><h4>"Have you been vaxxed? Will you be going back to the office?"</h4></p>
            <footer class="blockquote-footer text-right"> Jon, A coworker who I have never met in person, <br> <cite title="Source Title">Zoom, May 21.</cite></footer>
          </blockquote>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="https://www.vamac.com/images/content/Return_icon.png" style="width: 300px; height: 300px;" 
          data-holder-rendered="true">
          <br>
          <p class='lead'>
          <a href="/officesmap" class="btn btn-lg btn-secondary">Display Map</a>
          </p>
        </div> -->

{% endblock %}

