{% extends 'base.html' %}
{% block title %}Form{% endblock %}

{% block body %}

<h1>Form</h1>
<form action="/form" id='form' method="POST">

<div>
Hi, {{username}}! 
<br>
Let's log your company details:
</div>
<p>~~~~~~~~THIS ELEMENT SHOULD BE RED!</p>
<div>
    <em><b>
    When Anonymous, user_id can only be 1... and existed in the db
    </em></b>
</div>

<div>
Company Name:
<input type="text" id= "company" name="company_name">
</div>

<div>
Office Address:
<input type="text" id = "address" name="office_location">
<br>

</div>
<div>
Back to the Office Status:
    <input type="radio" name="rating" id='0' value='0'>0%
    <input type="radio" name="rating" id='20' value='20'>20%
    <input type="radio" name="rating" id='40' value='40'>40%
    <input type="radio" name="rating" id='60' value='60'>60%
    <input type="radio" name="rating" id='80' value='80'>80%
    <input type="radio" name="rating" id='100' value='100'>100%
</div>
<div>
    <input id="submit" type="submit"></input>
    <!-- figure some sort of logic to fool proof this submit button -->

</div>
<script src="/static/form.js"></script>
</form>


{% endblock %}
