<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

  <form>

  <div>
    <label for="fname">First name: </label>
    <input id="fname" type="text">
  </div>
  <div>
    <label for="lname">Last name: </label>
    <input id="lname" type="text">
  </div>
  <div>
      <input id="submit" type="submit">
  </div>
</form>

<p></p>
<script src="/static/form-DOM.js"></script>
</body>
<!-- <div>
  Hi, {{username}}! 
  <br>
  Let's log your company details:
  </div>
  <div>
      <em><b>
      DOM needs to be setup here.
      When Anonymous, user_id can only be 1... and existed in the db
      </em></b>
  </div>
  
  <div>
  Company Name:
  <input type="text" id= "company" name="company_name">
  </div>
  
  <div>
  Office Address:
  <input type="text" id = "address" name="office_location">
  <br>
  
  </div>
  <div>
  Back to the Office Status:
      <input type="radio" name="rating" value='0'>0%
      <input type="radio" name="rating" value='20'>20%
      <input type="radio" name="rating" value='40'>40%
      <input type="radio" name="rating" value='60'>60%
      <input type="radio" name="rating" value='80'>80%
      <input type="radio" name="rating" value='100'>100%
  </div>
  <div>
      <input id="submit" type="submit"></input>
      <!-- figure some sort of logic to fool proof this submit button -->
  
  </div>
  <p></p>
  <script src="/static/form-DOM.js"></script>
  </form> -->
</html>