{% extends 'base.html' %}
{% block title %}Form{% endblock %}

{% block body %}
<h1>Form</h1>
<form action="/form" method="POST">
<p>
Hi, {{username}}! Your user_id is: {{user_id}}. 
<br>
Log in function needs to be figure out. 
Let's log your company details:
</p>

<p>
Company Name:
<input type="text" name="company_name">
</p>

<p>
Office Address:
<input type="text" name="office_location">
<!-- office_longitude
<input type="text" name="office_longitude">
office_latitude
<input type="text" name="office_latitude"> -->
</p>
<p>
Back to the Office Status:
    <input type="radio" name="rating" value='0'>0%
    <input type="radio" name="rating" value='20'>20%
    <input type="radio" name="rating" value='40'>40%
    <input type="radio" name="rating" value='60'>60%
    <input type="radio" name="rating" value='80'>80%
    <input type="radio" name="rating" value='100'>100%
</p>
<p>
    Submit
    <input type="submit">

</p>
</form>


{% endblock %}
