{% extends 'base.html' %}
{% block title %}Back to the office tracker{% endblock %}

{% block body %}
  <h1>Welcome!</h1>

  <h2>Navigation</h2>
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/form">Enter a status</a></li>
    <li><a href="/officeslist">View all office locations in a list</a></li>
    <li><a href="/officesmap">View all office locations in a map</a></li>
    <li><a href="/users">View all users</a></li>
    <li><a href="/login">Login/Signup</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/sample">Sample Map Display</a></li>
  </ul>

  <!-- <h2>Already have an account? Log in here!</h2>
  <form action="/login" method="POST">
    <p>
      username <input type="text" name="username">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>
    <p>
      <input type="submit">
    </p>
  </form>

  <h2>Create an Account</h2>
  <form action="/users" method="POST">
    <p>
      username <input type="text" name="username">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p> -->
  </form>


{% endblock %}