{% extends 'base.html' %}
{% block title %}List view{% endblock %}

{% block body %}

A list of all available data so far...
<div class="content">
    <h1>Office in a list</h1>

<table>
    <tr>
        <th>Company_id</th>
        <th>Company_name</th>
        <th>Office_location</th>
        <th>Ratings</th>
        <th>Latest Update</th>
    </tr>
        
    <!-- {{officesData}}
    <p>
    ~~~~~~~~~~~~~~~~
    </p>
    {{officesData.features[0]['properties']}}
    <p>
    Office_id: {{officesData.features[0]['properties']['id']}}
    </p>
    Office_name: {{officesData.features[0]['properties']['office_name']}}
    
    <p>Office_location: {{officesData.features[0]['properties']['office_location']}} </p>

    Rating: {{officesData.features[0]['properties']['rating']}}

    <p>Last updated on: {{officesData.features[0]['properties']['timestamp']}} </p>
    <p>
        ~~~~~~~~~~~~~~~~
        </p> -->
    <tbody>
    <tr>
    {% for office in officesData.features %}

    <th>{{office['properties']['id']}}</th>
    <th>{{office['properties']['office_name']}}</th>
    <th>{{office['properties']['office_location']}}</th>
    <th>{{office['properties']['rating']}}</th>
    <th>{{office['properties']['timestamp'].strftime("%x")}}</th>
    </tr>
    {% endfor %}


</tbody>
</tr>
</table>
</div>
{% endblock %}