{% extends 'base.html' %}
{% block title %}List View{% endblock %}

{% block body %}
<h1>List View</h1>
<form id='form' method="GET" class="content">

<p></p>
<input type="text" id= "search" onkeyup="searchfunction()" 
placeholder="Search for a company.." name="search">

</form>
<!-- <input id="submit" type="submit"></input> -->
<!-- <p><button onclick="sortTable_company_id()">Sort by Company ID</button></p> -->
<p ><button onclick="sortTable_company_name()">Sort by Company Name</button>
<button onclick="sortTable_rating()">Sort by Rating</button></p>

<!-- <p><button onclick="sortTable_office_lcoation()">Sort by Company Office City</button></p> -->

<table id='table' class="table table-sortable table-light">
    <tr class='header'>
        <!-- <th style='width:20%;'>Company_id</th> -->
        <th style='width:20%;'>Company_name</th>
        <th style='width:20%;'>Office_location</th>
        <th style='width:20%;'>Ratings</th>
        <th style='width:20%;'>Latest Update</th>
    </tr>

    <tbody>
    <tr>
    {% for office in officesData.features %}

    <!-- <td>{{office['properties']['id']}}</td> -->
    <td>{{office['properties']['office_name']}}</td>
    <td>{{office['properties']['office_location']}}</td>
    <td>{{office['properties']['rating']}}</td>
    <td>{{office['properties']['timestamp']}}</td>
    </tr>
    {% endfor %}

    <script src="/static/listview.js"></script>
</tbody>
</tr>
</table>
</div>
{% endblock %}