<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Attach a popup to a marker instance and create clusters</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.js"></script>
<style>
body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
</style>
</head>
<body>
<style>
#marker {
background-image: url('https://cdn0.iconfinder.com/data/icons/people-lifestyle/100/People-14-512.png');
background-size: cover;
width: 50px;
height: 50px;
border-radius: 50%;
cursor: pointer;
}
    
    .mapboxgl-popup {
    max-width: 200px;
    }
    </style>
    
    <div id="map"></div>
    
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiYmVhbmJhZzczOCIsImEiOiJja29rZ3d0aGIwMDh3MnBtMWp6dGcwMHVvIn0.prLY8xe96YLzfR5rBc8x3g';
    var monument = [-122.1550338, 37.4810185];
    var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/light-v10',
    center: [-96, 37.8],
    zoom: 3
    });
    
    // console.log('Hi');
    // Change this inline data to what i need...

    // var geojson = {
    //                 "type": "FeatureCollection",
    //                 "features": [
    //                     { 
    //                         "type": "Feature", 
    //                         "properties": 
    //                             {
    //                                 "id": "1", 
    //                                 "office_location": "MPK 20 1 Facebook Way, Menlo Park, CA 94025", 
    //                                 "office_name": "Facebook",
    //                                 "rating": 40, 
    //                                 "timestamp": "Wed, 26 May 2021 21:57:53 GMT"
    //                             }, 
    //                         "geometry": 
    //                             {
    //                                 "type": "Point", 
    //                                 "coordinates": 
    //                                 [-122.1550338, 37.4810185] 
    //                             } 
    //                     },
    //                     { 
    //                         "type": "Feature", 
    //                         "properties": 
    //                             {
    //                                 "id": "2", 
    //                                 "office_location": "MPK 20 1 Facebook Way, Menlo Park, CA 94025", 
    //                                 "office_name": "Facebook",
    //                                 "rating": 40, 
    //                                 "timestamp": "Wed, 26 May 2021 21:57:53 GMT"
    //                             }, 
    //                         "geometry": 
    //                             {
    //                                 "type": "Point", 
    //                                 "coordinates": 
    //                                 [-122.1550338, 37.4810185] 
    //                             } 
    //                     },
    //                     { 
    //                         "type": "Feature", 
    //                         "properties": 
    //                             {
    //                                 "id": "3", 
    //                                 "office_location": "923 Hamilton Ave, Menlo Park, CA 94025", 
    //                                 "office_name": "ABC",
    //                                 "rating": 80, 
    //                                 "timestamp": "Wed, 26 May 2021 21:57:53 GMT"
    //                             },
    //                         "geometry": 
    //                             {
    //                                 "type": "Point",
    //                                 "coordinates": 
    //                                 [-77.032, 38.913]
    //                             } 
    //                     }
    //                 ]};



    map.addControl(new mapboxgl.NavigationControl());
    
    // filters for classifying backtooffices into five categories based on magnitude
    var rating1 = ['<', ['get', 'rating'], 0];
    var rating2 = ['all', ['>=', ['get', 'rating'], 20], ['<', ['get', 'rating'], 40]];
    var rating3 = ['all', ['>=', ['get', 'rating'], 60]];
    var rating4 = ['all', ['>=', ['get', 'rating'], 80]];
    var rating5 = ['>=', ['get', 'rating'], 100];
    
    // colors to use for the categories
    var colors = ['#fed976', '#feb24c', '#fd8d3c', '#fc4e2a', '#e31a1c'];

    map.on('load', function () {
        // add a clustered GeoJSON source for a sample set of backtooffices
        map.addSource('backtooffices', {
            'type': 'geojson',
            'data': geojson,
            'cluster': true,
            'clusterRadius': 80,
            'clusterProperties': {
                // keep separate counts for each magnitude category in a cluster
                'rating1': ['+', ['case', rating1, 1, 0]],
                'rating2': ['+', ['case', rating2, 1, 0]],
                'rating3': ['+', ['case', rating3, 1, 0]],
                'rating4': ['+', ['case', rating4, 1, 0]],
                'rating5': ['+', ['case', rating5, 1, 0]]
            }
        });
        

    // circle and symbol layers for rendering individual office (unclustered points)
    map.addLayer({
        'id': 'backtooffices_circle',
        'type': 'circle',
        'source': 'backtooffices',
        'filter': ['!=', 'cluster', true],
        'paint': {
        'circle-color': [
        'case',
        rating1,
        colors[0],
        rating2,
        colors[1],
        rating3,
        colors[2],
        rating4,
        colors[3],
        colors[4]
        ],
        'circle-opacity': 0.6,
        'circle-radius': 12
        }
        });

    map.addLayer({
        'id': 'backtooffices_label',
        'type': 'symbol',
        'source': 'backtooffices',
        'filter': ['!=', 'cluster', true],
        'layout': {
            'text-field': [
            'number-format',
            ['get', 'rating'],
            { 'min-fraction-digits': 1, 'max-fraction-digits': 1 }
            ],
            'text-font': ['Open Sans Semibold', 'Arial Unicode MS Bold'],
            'text-size': 10
        },
        'paint': {
            'text-color': [
            'case',
            ['<', ['get', 'rating'], 3],
            'black',
            'white'
            ]
        }
    });
    
    // objects for caching and keeping track of HTML marker objects (for performance)
    var markers = {};
    var markersOnScreen = {};
    
    function updateMarkers() {
        var newMarkers = {};
        var features = map.querySourceFeatures('backtooffices');
        // console.log('!!!!!!!')
        // console.log(features)
        // for every cluster on the screen, create an HTML marker for it (if we didn't yet),
        // and add it to the map if it's not there already
        for (var i = 0; i < features.length; i++) {
            var coords = features[i].geometry.coordinates;
            var props = features[i].properties;

            if (!props.cluster) continue;
            var id = props.id;
            
            var marker = markers[id];
            if (!marker) {
            var el = createDonutChart(props);
            marker = markers[id] = new mapboxgl.Marker({
            element: el
            }).setLngLat(coords)
            // .setPopup(
            //     // add popups
            //     new mapboxgl.Popup({ offset:25 }) 
            //     .setHTML(
            //         '<h3> Popup</h3>'
            //         )
            // )
            ;
            }
            newMarkers[id] = marker;
            
            if (!markersOnScreen[id]) marker.addTo(map);
        }

        // console.log('!!!!')
        // console.log(geojson.features[0]['Coordinates_LngLat'])
        // console.log(compgeojson.features[0]['company_code'])
        // console.log('id is:')
        // console.log(id)
        // for every marker we've added previously, remove those that are no longer visible
        for (id in markersOnScreen) {
            if (!newMarkers[id]) markersOnScreen[id].remove();
        }
        markersOnScreen = newMarkers;
    }

    // after the GeoJSON data is loaded, update markers on the screen on every frame
    map.on('render', function () {
        if (!map.isSourceLoaded('backtooffices')) return;
        updateMarkers();
    });
    });

    
    // code for creating an SVG donut chart from feature properties
    function createDonutChart(props) {
        var offsets = [];
        var counts = [
        props.rating1,
        props.rating2,
        props.rating3,
        props.rating4,
        props.rating5
        ];
        var total = 0;
        for (var i = 0; i < counts.length; i++) {
            offsets.push(total);
            total += counts[i];
        }
        var fontSize =
        total >= 1000 ? 22 : total >= 100 ? 20 : total >= 10 ? 18 : 16;
        var r = total >= 1000 ? 50 : total >= 100 ? 32 : total >= 10 ? 24 : 18;
        var r0 = Math.round(r * 0.6);
        var w = r * 2;
    
        var html =
                '<div><svg width="' +
                w +
                '" height="' +
                w +
                '" viewbox="0 0 ' +
                w +
                ' ' +
                w +
                '" text-anchor="middle" style="font: ' +
                fontSize +
                'px sans-serif; display: block">';
        
        for (i = 0; i < counts.length; i++) {
            html += donutSegment(
            offsets[i] / total,
            (offsets[i] + counts[i]) / total,
            r,
            r0,
            colors[i]
            );
        }
            html +=
            '<circle cx="' +
            r +
            '" cy="' +
            r +
            '" r="' +
            r0 +
            '" fill="white" /><text dominant-baseline="central" transform="translate(' +
            r +
            ', ' +
            r +
            ')">' +
            total.toLocaleString() +
            '</text></svg></div>';
        
        var el = document.createElement('div');
        el.innerHTML = html;
        return el.firstChild;
    }

    function donutSegment(start, end, r, r0, color) {
        if (end - start === 1) end -= 0.00001;
        var a0 = 2 * Math.PI * (start - 0.25);
        var a1 = 2 * Math.PI * (end - 0.25);
        var x0 = Math.cos(a0),
        y0 = Math.sin(a0);
        var x1 = Math.cos(a1),
        y1 = Math.sin(a1);
        var largeArc = end - start > 0.5 ? 1 : 0;
        
        return [
                '<path d="M',
                r + r0 * x0,
                r + r0 * y0,
                'L',
                r + r * x0,
                r + r * y0,
                'A',
                r,
                r,
                0,
                largeArc,
                1,
                r + r * x1,
                r + r * y1,
                'L',
                r + r0 * x1,
                r + r0 * y1,
                'A',
                r0,
                r0,
                0,
                largeArc,
                0,
                r + r0 * x0,
                r + r0 * y0,
                '" fill="' + color + '" />'
        ].join(' ');
    }

    </script>
    
</body>
</html>

<!-- 


    // var geojson = '/localhost:5000/db_data.json'
        // var geojson = {'type': 'FeatureCollection', 
        //                 'features': [
        //                     {
        //                         'type': 'Feature', 
        //                         'properties': [ //list turn this unreadable...
        //                             {
        //                                 'id': 1, 
        //                                 'office_location': 'MPK 20 1 Facebook Way, Menlo Park, CA 94025', 
        //                                 'office_name': 'Facebook', 
        //                                 'rating': 40, 
        //                                 'timestamp': datetime.datetime(2021, 5, 26, 21, 57, 53, 214465), 
        //                                 'geometry': {'type': 'Point', 'coordinates': [-122.1550338, 37.4810185]}
        //                             }, 
        //                             {
        //                                 'id': 2, 'office_location': '923 Hamilton Ave, Menlo Park, CA 94025', 
        //                                 'office_name': 'Facebook', 
        //                                 'rating': 80, 
        //                                 'timestamp': datetime.datetime(2021, 5, 26, 21, 57, 53, 214465), 
        //                                 'geometry': {'type': 'Point', 'coordinates': [-122.1512711, 37.4810185]}
        //                             }, 
        //                             {  
        //                                 'id': 3, 
        //                                 'office_location': '185 Berry St #5000, San Francisco, CA 94107', 
        //                                 'office_name': 'Lyft', 
        //                                 'rating': 100, 
        //                                 'timestamp': datetime.datetime(2021, 5, 28, 0, 10, 44, 157032), 
        //                                 'geometry': {'type': 'Point', 'coordinates': [-122.5321531, 37.7765663]}
        //                             }, 
        //                             {
        //                                 'id': 4, 
        //                                 'office_location': '1455 Market St #400, San Francisco, CA 94103', 
        //                                 'office_name': 'Uber', 
        //                                 'rating': 20, 
        //                                 'timestamp': datetime.datetime(2021, 5, 26, 21, 57, 53, 214465), 
        //                                 'geometry': {'type': 'Point', 'coordinates': [-122.4331198, 37.7888842]}
        //                             }, 
        //                             {
        //                                 'id': 5, 
        //                                 'office_location': '535 Mission St. #700, San Francisco, CA 94105', 
        //                                 'office_name': 'Trulia', 
        //                                 'rating': 20, 
        //                                 'timestamp': datetime.datetime(2021, 5, 26, 21, 57, 53, 214465), 
        //                                 'geometry': {'type': 'Point', 'coordinates': [-122.4068551, 37.7888897]}
        //                             }, 
        //                         ]
        //                     }
        //                 ]
        //             };


{
    "type": 'FeatureCollection',
    "features": [{"type": "Feature",
                "company_code": "1",
                "Office_info": {
                    "office_location": "MPK 20 1 Facebook Way, Menlo Park, CA 94025", 
                    "office_name": "Facebook"
                }, 
                "Rating": {
                    "rating": 40, 
                    "timestamp": "Wed, 26 May 2021 21:57:53 GMT"
                },
                "geometry":{"type": "Point", "Coordinates_LngLat": [-122.1550338, 37.4810185]}
                }, 
                {"type": "Feature",
                "company_code": "2",
                "Office_info": {
                "office_location": "923 Hamilton Ave, Menlo Park, CA 94025", 
                "office_name": "ABC"
                    }, 
                "Rating": {
                "rating": 80, 
                "timestamp": "Wed, 26 May 2021 21:57:53 GMT"
                    },
                "geometry":{"type": "Point", "Coordinates_LngLat": [-122.1512711, 37.4810185]}
                }
    ]
}; -->