body {
    margin: 80px;
    font-family:sans-serif ;
    color:white;
}
.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.p {
  color: red
}

#search {
  background-image: url('searchicon.png'); 
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 20px;
  padding: 12px 40px 12px 60px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  background-size: auto 40px;
  background-blend-mode: hard-light;
}

#table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
  color: black;
}

#table th, #table td {
  text-align: left;
  padding: 12px;
}

#table tr {
  border-bottom: 1px solid #ddd;
}

#table tr.header, #table tr:hover {
  background-color: #ddd;
}

.mt-0 {
  margin-top: 5 !important;
}

.white-text {
  color:white
}

.a {
  color: white;
}

.radio {
  border: 0px;
  margin: 20px;
}

input[type='radio'] {
  transform:scale(2);
}